<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120181290666-5mtd1hmkuagdkkko7i0d08r7vvl5o2kt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120181290666-5mtd1hmkuagdkkko7i0d08r7vvl5o2kt</string>
	<key>API_KEY</key>
	<string>AIzaSyDRU-B77Z1x0ar0gpAdvrTK3iesSjVZu3M</string>
	<key>GCM_SENDER_ID</key>
	<string>120181290666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.login</string>
	<key>PROJECT_ID</key>
	<string>login-33395</string>
	<key>STORAGE_BUCKET</key>
	<string>login-33395.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120181290666:ios:1988a0a81086c4dd7242d3</string>
</dict>
</plist>